name: Daily Stock Data Update

#  The Trigger: When should this run?
on:
  schedule:
    # This acts as a cron timer.
    # "0 15 * * *" means (Runs at 11:00 PM UTC / 6:00 PM EST)
    - cron: '0 23 * * *' 
  # This allows us to click a "Run Now" button manually for testing
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-data:
    runs-on: ubuntu-latest
    
    steps:
    #  Check out code
    - name: Checkout repository
      uses: actions/checkout@v3

    #  Install Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    #  Install libraries (pandas, yfinance, etc.)
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    #  Run scraper
    - name: Run scraper script
      run: python fetch_data.py

    #  Save and Push the new CSV
    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email "actions@github.com"
        git add stock_data.csv
        git commit -m "Auto-update stock data [skip ci]" || exit 0
        git push
